USE [master]
GO
/****** Object:  Database [BlackSheet]    Script Date: 01-06-2017 21:30:40 ******/
CREATE DATABASE [BlackSheet]

GO
USE [BlackSheet]
GO
/****** Object:  User [bs]    Script Date: 01-06-2017 21:30:41 ******/
CREATE USER [bs] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [bs]
GO
/****** Object:  Table [dbo].[Actividad]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Actividad](
	[idActividad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[idEstadoAcutal] [int] NOT NULL,
	[idUsuario] [int] NULL,
	[idProyecto] [int] NOT NULL,
	[fechaTerminoPropuesto] [date] NULL,
	[fechaInicio] [date] NULL,
	[descripcion] [varchar](4000) NULL,
 CONSTRAINT [PK_Actividad] PRIMARY KEY CLUSTERED 
(
	[idActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ActividadRelacionada]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadRelacionada](
	[idActividadRelacionada] [int] IDENTITY(1,1) NOT NULL,
	[idActividadPadre] [int] NOT NULL,
	[idActividadHijo] [int] NOT NULL,
	[comentario] [nvarchar](4000) NOT NULL,
 CONSTRAINT [PK_ActividadRelacionada] PRIMARY KEY CLUSTERED 
(
	[idActividadRelacionada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ActividadUsuario]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActividadUsuario](
	[idActividadUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idActividad] [int] NOT NULL,
 CONSTRAINT [PK_ActividadUsuario] PRIMARY KEY CLUSTERED 
(
	[idActividadUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AdjuntoActividad]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjuntoActividad](
	[idAdjuntoActividad] [int] IDENTITY(1,1) NOT NULL,
	[idAdjunto] [int] NOT NULL,
	[idActividad] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[fechaCreacion] [int] NOT NULL,
 CONSTRAINT [PK_AdjuntoActividad] PRIMARY KEY CLUSTERED 
(
	[idAdjuntoActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AdjuntoProyecto]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdjuntoProyecto](
	[idAdjuntoProyecto] [int] IDENTITY(1,1) NOT NULL,
	[idProyecto] [int] NOT NULL,
	[idAdjunto] [int] NOT NULL,
	[fechaCreacion] [date] NOT NULL,
	[idUsuario] [int] NOT NULL,
 CONSTRAINT [PK_AdjuntoProyecto] PRIMARY KEY CLUSTERED 
(
	[idAdjuntoProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Adjuntos]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Adjuntos](
	[idAdjunto] [int] IDENTITY(1,1) NOT NULL,
	[idUsuarioCreador] [int] NULL,
	[nombreAdjunto] [nvarchar](200) NULL,
	[tipoAdjunto] [nchar](20) NULL,
	[contenType] [nchar](30) NULL,
	[archivo] [varbinary](max) NULL,
	[extension] [nchar](5) NULL,
 CONSTRAINT [PK_Adjuntos_1] PRIMARY KEY CLUSTERED 
(
	[idAdjunto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AvanceActividad]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AvanceActividad](
	[idAvanceActivida] [int] IDENTITY(1,1) NOT NULL,
	[idActividad] [int] NOT NULL,
	[avance] [int] NOT NULL,
	[idUsuario] [int] NOT NULL,
	[comentario] [nvarchar](4000) NOT NULL,
	[fechaIngresoAvance] [datetime] NOT NULL,
	[fechaIngresoSistema] [datetime] NOT NULL,
 CONSTRAINT [PK_AvanceActividad] PRIMARY KEY CLUSTERED 
(
	[idAvanceActivida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DependenciaDeUsuarios]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DependenciaDeUsuarios](
	[idDependencia] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idUsuarioDependeinte] [int] NOT NULL,
 CONSTRAINT [PK_DependenciaDeUsuarios] PRIMARY KEY CLUSTERED 
(
	[idDependencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstadoActividad]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoActividad](
	[idEstadoActividad] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nchar](30) NOT NULL,
 CONSTRAINT [PK_EstadoActividad] PRIMARY KEY CLUSTERED 
(
	[idEstadoActividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EstadoProyecto]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoProyecto](
	[idEstadoProyecto] [int] IDENTITY(1,1) NOT NULL,
	[nombreEstado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EstadoProyecto] PRIMARY KEY CLUSTERED 
(
	[idEstadoProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HistoricoCambiosDeEstado]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoCambiosDeEstado](
	[idHistorico] [int] NOT NULL,
	[idUsuraio] [int] NOT NULL,
	[idEstadoActividad] [int] NOT NULL,
	[observacion] [nvarchar](500) NOT NULL,
 CONSTRAINT [PK_HistoricoCambiosDeEstado] PRIMARY KEY CLUSTERED 
(
	[idHistorico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[myDiagrama]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[myDiagrama](
	[name] [sysname] NOT NULL,
	[principal_id] [int] NOT NULL,
	[diagram_id] [int] IDENTITY(1,1) NOT NULL,
	[version] [int] NULL,
	[definition] [varbinary](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Proyecto]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proyecto](
	[idProyecto] [int] IDENTITY(1,1) NOT NULL,
	[nombreProyecto] [nvarchar](150) NOT NULL,
	[comentario] [nchar](4000) NULL,
	[idUsuarioPorpietario] [int] NULL,
	[fechaCreacion] [date] NULL,
	[idEstadoProyecto] [int] NOT NULL,
	[inicioEstimado] [date] NULL,
	[terminoEstimado] [date] NULL,
 CONSTRAINT [PK_Proyecto] PRIMARY KEY CLUSTERED 
(
	[idProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nvarchar](50) NOT NULL,
	[correo] [nvarchar](50) NOT NULL,
	[ubicacionUsuario] [nvarchar](150) NOT NULL,
	[clave] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsuarioProyecto]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioProyecto](
	[idUsuarioProyecto] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[idProyecto] [int] NOT NULL,
	[esPropietario] [bit] NULL,
	[puedeAsignarActividad] [bit] NULL,
	[puedeCerrarActividad] [bit] NULL,
	[puedeAgregarParticipante] [bit] NULL,
	[activo] [bit] NULL,
 CONSTRAINT [PK_UsuarioProyecto] PRIMARY KEY CLUSTERED 
(
	[idUsuarioProyecto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Actividad] ON 

GO
INSERT [dbo].[Actividad] ([idActividad], [nombre], [idEstadoAcutal], [idUsuario], [idProyecto], [fechaTerminoPropuesto], [fechaInicio], [descripcion]) VALUES (1, N'Crear Model Datos', 1, 4, 16, NULL, NULL, N'tttttt')
GO
INSERT [dbo].[Actividad] ([idActividad], [nombre], [idEstadoAcutal], [idUsuario], [idProyecto], [fechaTerminoPropuesto], [fechaInicio], [descripcion]) VALUES (2, N'Crear Model Datos', 1, 4, 18, CAST(N'2017-02-26' AS Date), CAST(N'2017-02-08' AS Date), N'ttttttttttttttttttttttttttttttt')
GO
SET IDENTITY_INSERT [dbo].[Actividad] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoActividad] ON 

GO
INSERT [dbo].[EstadoActividad] ([idEstadoActividad], [Descripcion]) VALUES (1, N'CREADA                        ')
GO
INSERT [dbo].[EstadoActividad] ([idEstadoActividad], [Descripcion]) VALUES (2, N'ASIGNADA                      ')
GO
INSERT [dbo].[EstadoActividad] ([idEstadoActividad], [Descripcion]) VALUES (3, N'RECHADADA                     ')
GO
SET IDENTITY_INSERT [dbo].[EstadoActividad] OFF
GO
SET IDENTITY_INSERT [dbo].[EstadoProyecto] ON 

GO
INSERT [dbo].[EstadoProyecto] ([idEstadoProyecto], [nombreEstado]) VALUES (1, N'CREADO')
GO
SET IDENTITY_INSERT [dbo].[EstadoProyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[myDiagrama] ON 

GO
SET IDENTITY_INSERT [dbo].[myDiagrama] OFF
GO
SET IDENTITY_INSERT [dbo].[Proyecto] ON 

GO
SET IDENTITY_INSERT [dbo].[Proyecto] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

GO
INSERT [dbo].[Usuario] ([idUsuario], [nombreUsuario], [correo], [ubicacionUsuario], [clave]) VALUES (4, N'rcisterna3@gmail.com', N'rcisterna3@gmail.com', N'', N'123456')
GO
INSERT [dbo].[Usuario] ([idUsuario], [nombreUsuario], [correo], [ubicacionUsuario], [clave]) VALUES (5, N'r@r.cl', N'r@r.cl', N'', N'123456')
GO
INSERT [dbo].[Usuario] ([idUsuario], [nombreUsuario], [correo], [ubicacionUsuario], [clave]) VALUES (6, N'ev@gmail.com', N'ev@gmail.com', N'', N'123456')
GO
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
SET IDENTITY_INSERT [dbo].[UsuarioProyecto] ON 

GO
INSERT [dbo].[UsuarioProyecto] ([idUsuarioProyecto], [idUsuario], [idProyecto], [esPropietario], [puedeAsignarActividad], [puedeCerrarActividad], [puedeAgregarParticipante], [activo]) VALUES (8, 4, 16, 1, 1, 1, 1, 1)
GO
INSERT [dbo].[UsuarioProyecto] ([idUsuarioProyecto], [idUsuario], [idProyecto], [esPropietario], [puedeAsignarActividad], [puedeCerrarActividad], [puedeAgregarParticipante], [activo]) VALUES (9, 4, 17, 1, 1, 1, 1, 1)
GO
INSERT [dbo].[UsuarioProyecto] ([idUsuarioProyecto], [idUsuario], [idProyecto], [esPropietario], [puedeAsignarActividad], [puedeCerrarActividad], [puedeAgregarParticipante], [activo]) VALUES (10, 4, 18, 1, 1, 1, 1, 1)
GO
SET IDENTITY_INSERT [dbo].[UsuarioProyecto] OFF
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_EstadoActividad] FOREIGN KEY([idEstadoAcutal])
REFERENCES [dbo].[EstadoActividad] ([idEstadoActividad])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK_Actividad_EstadoActividad]
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_Proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[Proyecto] ([idProyecto])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK_Actividad_Proyecto]
GO
ALTER TABLE [dbo].[Actividad]  WITH CHECK ADD  CONSTRAINT [FK_Actividad_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Actividad] CHECK CONSTRAINT [FK_Actividad_Usuario]
GO
ALTER TABLE [dbo].[ActividadRelacionada]  WITH CHECK ADD  CONSTRAINT [FK_ActividadRelacionada_Actividad] FOREIGN KEY([idActividadPadre])
REFERENCES [dbo].[Actividad] ([idActividad])
GO
ALTER TABLE [dbo].[ActividadRelacionada] CHECK CONSTRAINT [FK_ActividadRelacionada_Actividad]
GO
ALTER TABLE [dbo].[ActividadRelacionada]  WITH CHECK ADD  CONSTRAINT [FK_ActividadRelacionada_Actividad1] FOREIGN KEY([idActividadHijo])
REFERENCES [dbo].[Actividad] ([idActividad])
GO
ALTER TABLE [dbo].[ActividadRelacionada] CHECK CONSTRAINT [FK_ActividadRelacionada_Actividad1]
GO
ALTER TABLE [dbo].[ActividadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ActividadUsuario_Actividad] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividad] ([idActividad])
GO
ALTER TABLE [dbo].[ActividadUsuario] CHECK CONSTRAINT [FK_ActividadUsuario_Actividad]
GO
ALTER TABLE [dbo].[ActividadUsuario]  WITH CHECK ADD  CONSTRAINT [FK_ActividadUsuario_Usuario] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[ActividadUsuario] CHECK CONSTRAINT [FK_ActividadUsuario_Usuario]
GO
ALTER TABLE [dbo].[AdjuntoActividad]  WITH CHECK ADD  CONSTRAINT [FK_AdjuntoActividad_Actividad] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividad] ([idActividad])
GO
ALTER TABLE [dbo].[AdjuntoActividad] CHECK CONSTRAINT [FK_AdjuntoActividad_Actividad]
GO
ALTER TABLE [dbo].[AdjuntoActividad]  WITH CHECK ADD  CONSTRAINT [FK_AdjuntoActividad_Adjuntos] FOREIGN KEY([idAdjunto])
REFERENCES [dbo].[Adjuntos] ([idAdjunto])
GO
ALTER TABLE [dbo].[AdjuntoActividad] CHECK CONSTRAINT [FK_AdjuntoActividad_Adjuntos]
GO
ALTER TABLE [dbo].[AdjuntoActividad]  WITH CHECK ADD  CONSTRAINT [FK_AdjuntoActividad_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[AdjuntoActividad] CHECK CONSTRAINT [FK_AdjuntoActividad_Usuario]
GO
ALTER TABLE [dbo].[AdjuntoProyecto]  WITH CHECK ADD  CONSTRAINT [FK_AdjuntoProyecto_Adjuntos] FOREIGN KEY([idAdjunto])
REFERENCES [dbo].[Adjuntos] ([idAdjunto])
GO
ALTER TABLE [dbo].[AdjuntoProyecto] CHECK CONSTRAINT [FK_AdjuntoProyecto_Adjuntos]
GO
ALTER TABLE [dbo].[AdjuntoProyecto]  WITH CHECK ADD  CONSTRAINT [FK_AdjuntoProyecto_Proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[Proyecto] ([idProyecto])
GO
ALTER TABLE [dbo].[AdjuntoProyecto] CHECK CONSTRAINT [FK_AdjuntoProyecto_Proyecto]
GO
ALTER TABLE [dbo].[AdjuntoProyecto]  WITH CHECK ADD  CONSTRAINT [FK_AdjuntoProyecto_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[AdjuntoProyecto] CHECK CONSTRAINT [FK_AdjuntoProyecto_Usuario]
GO
ALTER TABLE [dbo].[Adjuntos]  WITH CHECK ADD  CONSTRAINT [FK_Adjuntos_Usuario] FOREIGN KEY([idUsuarioCreador])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Adjuntos] CHECK CONSTRAINT [FK_Adjuntos_Usuario]
GO
ALTER TABLE [dbo].[AvanceActividad]  WITH CHECK ADD  CONSTRAINT [FK_AvanceActividad_Actividad] FOREIGN KEY([idActividad])
REFERENCES [dbo].[Actividad] ([idActividad])
GO
ALTER TABLE [dbo].[AvanceActividad] CHECK CONSTRAINT [FK_AvanceActividad_Actividad]
GO
ALTER TABLE [dbo].[AvanceActividad]  WITH CHECK ADD  CONSTRAINT [FK_AvanceActividad_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[AvanceActividad] CHECK CONSTRAINT [FK_AvanceActividad_Usuario]
GO
ALTER TABLE [dbo].[DependenciaDeUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_DependenciaDeUsuarios_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[DependenciaDeUsuarios] CHECK CONSTRAINT [FK_DependenciaDeUsuarios_Usuario]
GO
ALTER TABLE [dbo].[DependenciaDeUsuarios]  WITH CHECK ADD  CONSTRAINT [FK_DependenciaDeUsuarios_Usuario1] FOREIGN KEY([idUsuarioDependeinte])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[DependenciaDeUsuarios] CHECK CONSTRAINT [FK_DependenciaDeUsuarios_Usuario1]
GO
ALTER TABLE [dbo].[HistoricoCambiosDeEstado]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoCambiosDeEstado_EstadoActividad] FOREIGN KEY([idEstadoActividad])
REFERENCES [dbo].[EstadoActividad] ([idEstadoActividad])
GO
ALTER TABLE [dbo].[HistoricoCambiosDeEstado] CHECK CONSTRAINT [FK_HistoricoCambiosDeEstado_EstadoActividad]
GO
ALTER TABLE [dbo].[HistoricoCambiosDeEstado]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoCambiosDeEstado_Usuario] FOREIGN KEY([idUsuraio])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[HistoricoCambiosDeEstado] CHECK CONSTRAINT [FK_HistoricoCambiosDeEstado_Usuario]
GO
ALTER TABLE [dbo].[Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_Proyecto_EstadoProyecto] FOREIGN KEY([idEstadoProyecto])
REFERENCES [dbo].[EstadoProyecto] ([idEstadoProyecto])
GO
ALTER TABLE [dbo].[Proyecto] CHECK CONSTRAINT [FK_Proyecto_EstadoProyecto]
GO
ALTER TABLE [dbo].[Proyecto]  WITH CHECK ADD  CONSTRAINT [FK_Proyecto_Usuario] FOREIGN KEY([idUsuarioPorpietario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Proyecto] CHECK CONSTRAINT [FK_Proyecto_Usuario]
GO
ALTER TABLE [dbo].[UsuarioProyecto]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProyecto_Proyecto] FOREIGN KEY([idProyecto])
REFERENCES [dbo].[Proyecto] ([idProyecto])
GO
ALTER TABLE [dbo].[UsuarioProyecto] CHECK CONSTRAINT [FK_UsuarioProyecto_Proyecto]
GO
ALTER TABLE [dbo].[UsuarioProyecto]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioProyecto_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[UsuarioProyecto] CHECK CONSTRAINT [FK_UsuarioProyecto_Usuario]
GO
/****** Object:  StoredProcedure [dbo].[Usp_AgregarUsuarioProyecto]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	autor:		Rodrigo Cisterna
	fecha:		02/02/2017

*/

create procedure [dbo].[Usp_AgregarUsuarioProyecto]
	 @idUsuario int
	,@idproyecto int
	,@asigna bit
	,@cierra bit
	,@participantes bit
	as 
	begin

		if(not exists(select 1 from UsuarioProyecto where idUsuario =@idUsuario and idProyecto= @idProyecto ))
		begin
			
			INSERT INTO [dbo].[UsuarioProyecto]
					   ([idUsuario]
					   ,[idProyecto]
					   ,[esPropietario]
					   ,[puedeAsignarActividad]
					   ,[puedeCerrarActividad]
					   ,[puedeAgregarParticipante]
					   ,[activo])
				 VALUES
					   (@idusuario
					   ,@idProyecto
					   ,0
					   ,@asigna
					   ,@cierra
					   ,@participantes
					   ,1)

		end
		else
		begin
			UPDATE [dbo].[UsuarioProyecto]
			   SET 
				   [puedeAsignarActividad] = @asigna
				  ,[puedeCerrarActividad] = @cierra
				  ,[puedeAgregarParticipante] = @participantes
				  ,[activo] = 1
			 WHERE idUsuario =@idUsuario and idProyecto= @idProyecto 
		end





	end



	

GO
/****** Object:  StoredProcedure [dbo].[Usp_ListarProyectoPorIdUsaurio]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
	Autor:		Rodrigo Cisterna
	Fecha:		30-01-2017

*/

CREATE procedure [dbo].[Usp_ListarProyectoPorIdUsaurio]
	@idUsuario int
	as
	begin
		set nocount on

				select
			 p.idProyecto
			,p.idEstadoProyecto
			,p.nombreProyecto	
			,p.comentario
			,p.fechaCreacion
			,EP.nombreEstado
			,p.inicioEstimado
			,p.terminoEstimado
			,up.puedeAgregarParticipante
			,case 
				when p.idUsuarioPorpietario = @idUsuario then 'Propietario'
				else 'Participante'
			end as TipoIntegrante
		from Proyecto P
		inner join EstadoProyecto EP on p.idEstadoProyecto = EP.idEstadoProyecto
		inner join UsuarioProyecto UP on UP.idProyecto = p.idProyecto
		where up.idUsuario = @idUsuario

	end


GO
/****** Object:  StoredProcedure [dbo].[Usp_ListaUsuarioProyecto]    Script Date: 01-06-2017 21:30:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
	AUTOR:		Rodrigo Cisterna
	FECHA:		01/02/2017

*/

create procedure [dbo].[Usp_ListaUsuarioProyecto]
	@idProyecto int
	as
	begin
		set nocount on

		select 
			 u.idUsuario
			,u.correo
			,case 
				when up.esPropietario = 1 then 'PROPIETARIO'
				else 'PARTICIPANTE'
				end as tipoIntegrante
			,up.puedeAgregarParticipante
			,up.puedeAsignarActividad
			,up.puedeCerrarActividad 
		from Proyecto P
		inner join UsuarioProyecto UP on P.idProyecto = UP.idProyecto
		inner join Usuario U on U.idUsuario = UP.idUsuario
		where P.idProyecto = @idProyecto and UP.activo = 1



	end

GO


CREATE procedure Usp_ListaActividadesProyectoPorUsuario
	@idUsuario int,
	@idProyecto int

	as
	begin 

		select 
	    a.idActividad ,
        a.nombre ,
        EA.Descripcion as estadoActividad,
        U.nombreUsuario as usuario ,
        a.idUsuario ,
        a.fechaInicio ,
        a.fechaTerminoPropuesto as fechaTermino ,
        a.descripcion 
		from Actividad a
		inner join Proyecto P on a.idProyecto = p.idProyecto
		inner join EstadoActividad EA on a.idEstadoAcutal = EA.idEstadoActividad
		inner join usuario u on u.idUsuario = a.idUsuario
		where p.idProyecto = @idProyecto AND A.idUsuario = @idUsuario
	end 

go



USE [master]
GO
