@model MVC_HojaDeTareas.Models.Proyecto.ResultadoBusquedaUsuariosModel
<div class="table-responsive">
    <table class="table table-hover  ">
        <thead>
            <tr>
                <th> Nombre </th>
                <th> Correo</th>                
                <th> Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.listaUsuarios)
            {
                <tr>
                    <td>@p.nombreUsuario</td>
                    <td>@p.correo</td>                    
                    <td><i class="fa fa-plus-circle" onclick="AgregarUsuarioProyecto(@p.idUsuario)"></i></td>
                </tr>
            }
        </tbody>
    </table>
</div>
